body {
    background-color: cadetblue; 
    font-size: large;
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textarea {
    background: white;
    width: 1100px;
    height: 130px;
    padding: 10px;
    margin: 20px;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    font-family: sans-serif;
    font-style: inherit;
    resize: both;
    overflow: auto;
}

.button:hover {
    background-color: #f0f0f0;
}

button {
    width: 50px;
    height: 30px;
    border-radius: 10px;
}

button:hover {
    background-color: lightgray;
    transition: background-color 0.3s ease;
}

.button:active {
    box-shadow: 1px 1px 2px #fff8f8, -1px -1px 2px #474343;
    background-color: #d6d6d6;}
    .back{
        width: 85px;
    }
    .tab{
        width: 65px;
    }
    .slash{
        width: 65px;
    }
    .cap{
        width: 65px;
    }
    .etn{
        width:65px ;
    }
    .leftshift{
        width: 65px;
    }
    .rightshift{
        width: 65px;
    }
    .space{
        width: 400px;
    }